.conocimientos .contenido-seccion {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.conocimientos .contenido-grid {
    display: flex;
    align-items: center; /* Asegura que los elementos estén alineados verticalmente */
    justify-content: flex-start; /* Alinea los elementos al inicio */
    gap: 1rem;
}

.conocimientos .contenido-grid .img-conocimineto {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 4rem;
}

.conocimientos .contenido-grid .img-conocimineto img {
    width: 4rem;
    height: auto;
}

.conocimientos .contenido-grid .barra-contenedor {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}







